/* Custom styles for boxed content */
.container-boxed {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px; /* Add padding on left and right */
}


.otp-display {
    font-weight: bold;
    font-family: monospace;
}


/* Table mobile responsiveness */
@media (max-width: 767px) {
    .container-boxed {
        padding: 0 20px; /* Add extra padding on mobile */
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table th, .table td {
        font-size: 12px; /* Smaller font size on mobile */
        white-space: nowrap; /* Prevent text from wrapping */
    }

    .table td button {
        font-size: 10px; /* Smaller button size on mobile */
    }

    /* Make form inputs and buttons larger on mobile */
    .form-control {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .row .col-12 {
        padding: 0 15px;
    }

    .form-control {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}



        body {
            background-color: #f4f4f4;
            color: #343a40;
        }
        .navbar, .footer {
         //    background-color: #ffffff;
          //  border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .btn-copy {
            color: #6c757d;
            transition: color 0.2s;
        }
        .btn-copy.copied {
            color: #28a745;
        }
        .modal-content {
            background-color: #f8f9fa;
            color: #343a40;
            border-radius: 10px;
        }
        .table-hover tbody tr:hover {
            background-color: #e9ecef;
        }
        .pagination {
            justify-content: flex-end;
        }
        .modal-dialog {
            max-width: 500px;
        }
        .modal .row > div {
            padding-top: 10px;
        }


  /* Ensure tooltip can grow dynamically */
  .tooltip-inner {
    max-width: none; /* Disable Bootstrap's default max-width */
    white-space: nowrap; /* Prevent text wrapping */
  }



